bags/*
csv/*
csv/aligned/*
csv/aligned/c8_orb_d435/*
csv/aligned/c8_orb_mono/*
csv/aligned/c8_orb_stereo/*
bags_windows_shortcut.lnk
copy_figures.py
.vscode/*
horn_demo.py
__pycache__/*
!bags/n_record_slam.sh
!bags/record_orb.sh
!bags/sim_record.sh
!bags/split_bag.sh
!bags/play_cX.py
playground.py
ignore/*